@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles */
:root {
  color-scheme: dark;
  --foreground: 210 40% 98%;
  --background: 222 47% 11%;
}

body {
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}
